#idade{
    width: 60px;
}
#email, #nome{
    width: 300px;
}
#menu{
    padding-top: 15px;
}

#TituloAcoes {
    text-align: center;
}

#campos {
    display: flex;
    justify-content: space-between;
}

.btn-peter {
    font-weight: bold;
    height: 40px;
}

.colunaAcoes {
    text-align: right;/*Faz os botões GERADOS se alinharem à direita*/
}

#salvar {
    margin-top: 3px;
}

#tituloNome, .colunaNome{
    width: 350px;
}
#tituloEmail, .colunaEmail{
    width: 350px;
}
#tituloIdade, .colunaIdade{
    width: 100px;
    text-align: center;
}
#tituloPais, .colunaPais{
    width: 250px;
}
#TituloAcoes, .colunaacoes{
    width: 450px;
}

th {
    padding-left: 50px;
    background-color: #f2f2f2;
}

nav {
    color: white;
    height: 100px;
    padding: 0px 10px;
    vertical-align: middle;
}

ul {
    list-style: none;
}

li {
    display: inline;
    font-size: 20px;
}

button {
    width: 120px;
    margin: 0px 2px;
}

section {
    padding: 5px 0px;
    background-color: #e3f2fd
}

li, input {    
    margin-left: 5px;
}

i, label {
    margin-left: 10px;
}

label, input {
    margin-top: 10px;
}